@import "./normalize.css";

:root {
  --color-light-text: #949494;
  --color-text: #1e1e1e;
  --color-tint-text: #0c0c0c;
  --color-retweet-text: #2e2e2e;
  --color-tint: #81d4fa;
  --color-tint-light: #b6ffff;
  --color-tint-dark: #4ba3c7;
  --color-background: #eceff1;
  --color-background-light: #fff;
  --color-background-dark: #babdbe;
  --color-retweet-bgc: #f6f6f6;
  --color-button: #707070;
  --color-emphasize: #ffa726;
  --weibo-margin: 16px;
  --grid-gap: 5px;
  --grid-size: calc((100vw - 2 * var(--weibo-margin) - 2 * var(--grid-gap))/3);
  --font-size: 14px;
  --line-height: 1.5;
  --name-font-size: 14px;
  --time-font-size: 12px;
  --content-font-size: 13px;
  --retweet-font-size: 12.5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.arrow-right {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  width: 9px;
  height: 9px;
  background-color: transparent;
  transform: rotate(135deg);
  display: inline-block;
  margin-left: .1rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

